{% extends "base_layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account-1.0.css') }}">
<div class="h-100 container-fluid">
	<div class="col-md-8 offset-md-2 pt-4 pl-0 pb-4 bg-color">
		<div class='margin-main pl-4'>
			<div class="heading pl-3">
				Account details
			</div>
			<div class="row  mt-5">
				<div class="col-md-4">
					<div class="thumbnail-container">
						<img class="thumbnail" src="{{ url_for('static', filename='images/' + current_user.profile_picture) }}">
						<form action="/update-image" method="post">
							<label class="update-image p-1 rounded" for="picture">Update</label>
							<input id="picture" name="picture" type="file" data-bind="event:{ change: updatePicture }"/>
						</form>
					</div>
				</div>
				<div class="col-md-8">
					<div class="user mt-3">
						<div>
							<div class="name mb-3">{{ current_user.name }}</div>
							<div class="user-info">
								<strong>Emp id :</strong> {{ current_user.emp_id }}
								<br>
								<strong>Email id:</strong> {{ current_user.email }}
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var csrfToken = "{{ csrf_token() }}";

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/account-1.0.js') }}"></script>
{% endblock content%}
