{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
<div class="h-100 row justify-content-center align-items-center">
	<div class="form-group col-md-6 col-lg-3 m-2 pt-4 pl-3 pr-3 border border-info rounded shadow mb-5">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<legend class="border-bottom mb-4 pb-3 text-center text-info">Login</legend>
             <div class="form-group row">
				{{ form.emp_id.label(class="col-md-4 pt-2") }}
				{% if form.emp_id.errors %}
					{{ form.emp_id(class="form-control col-md-7 col-11 is-invalid", placeholder="Enter emp id") }}
					<div class="invalid-feedback offset-md-4 offset-1">
		                {% for error in form.emp_id.errors %}
	                        <span>{{ error }}</span>
	                    {% endfor %}
	            	</div>
	            {% else %}
	            	{{ form.emp_id(class="form-control col-md-7 col-11", placeholder="Enter emp id", data_bind="input: emp_id, event: { blur: validate}") }}
				{% endif %}
			</div>
			<div class="form-group row">
				{{ form.password.label(class="col-md-4 pt-2") }}
				{% if form.password.errors %}
					{{ form.password(class="form-control col-md-7 col-11 is-invalid", placeholder="Enter password", data_bind="input: password") }}
					<div class="invalid-feedback offset-md-4 offset-1">
		                {% for error in form.password.errors %}
	                        <span>{{ error }}</span>
	                    {% endfor %}
		            </div>
		        {% else %}
		            {{ form.password(class="form-control col-md-7 col-11", placeholder="Enter password", data_bind="input: password") }}
					<div class="invalid-feedback offset-md-4 offset-1"></div>
				{% endif %}
			</div>
			<div class="form-group text-center ml-4">
				{{ form.submit(class="btn btn-info") }}
			</div>
		</form>
	</div>
</div>

{% endblock content %}