html{
	  height:100%;
}

body{
	height: 100%;
	background: #ece9e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #ece9e6, #ffffff);
	background: -o-linear-gradient(left, #ece9e6, #ffffff);
	background: linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}	

.profile-picture{
	border: 1px solid #ddd; /* Gray border */
	border-radius: 50%;  /* Rounded border */
  	width: 30px;
  	height: 30px;
  	margin:0px;
  	padding:0px;
  	object-fit: cover;
  }

}

